*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: column;
}


.header-container {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgb(255, 17, 17);
    border: 4px solid black;
}

.main-container {
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: rgb(17, 211, 255);
    border: 4px solid black;    
}

.footer-container {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(25, 255, 17);
    border: 4px solid black;
}